.sub_heading{
    font-size: 1.5rem;
    font-family: 'Inter-Bold';
    text-align: center;
    color: var(--sub-heading-text);
    font-size: 2rem;
    margin-top: 10rem;
}
.timeline_card_content .card-content-wrapper{
    background: red !important
}