.badge_container{
    margin: 1rem 0;
}

.main_text, .title{
    margin: .5rem;
}
.title{
    color: var(--blog-primary);
    margin-top: 0;
}
.main_text{
    color: var(--blog-secondary);
    /* margin-bottom: 2rem; */
    line-height: 1.5rem;
}

.content_container{
    display: flex;
    margin-top: 4rem;
}
.content{
    width: 75%;
    margin-right: 2%;
}
.real_content{
    
}
.table_content{
    width: 23%;
    
}
.sticky_table_content{
    
    padding: 2rem;
    position: sticky;
    /* border: 1px solid var(--card-border); */
    top: 7rem;
}

.width_100{
    width: 100% !important;
    margin-right: 2%;
}