@font-face {
  font-family: 'Inter-Bold';
  src: url('/fonts/Inter-Bold.ttf');
}
@font-face {
  font-family: 'Inter-Regular';
  src: url('/fonts/Inter-Regular.ttf');
}

:root {
  --first-blue: #6D9EE7;
  --second-blue: #86ABE5;
  --third-blue: #CCE0FF;

  --first-pink: #EB7EA0;
  --second-pink: #F39DAC;

  --first-orange: #FFBA60;
  --second-orang: #FFD399;

  --first-black: #16181D;
  --second-black: #1A1D23;
  --third-black: #23272F;
  --fourth-black: #44464D;

  --first-grey: #1D2333;
  --second-grey: #485062;
  --third-grey: #626B84;
  --fourth-grey: #92A7C9;
  --fifth-grey: #DFE5F2;
  --sixth-grey: #EBF1FF;

  --first-white: #F9FAFB;
  
}
[data-theme='dark']{
  --main-background: var(--first-black);

  --navbar-text: var(--fourth-grey);
  --button-background: var(--first-grey);

  --title-text: var(--third-blue);
}

[data-theme='light'] {
  --main-background: var(--first-white);
  
  --navbar-text: var(--third-grey);
  --button-background: var(--sixth-grey);
  
  --title-text: var(--fourth-black);
}


body{
  font-family: 'Inter-Regular', sans-serif;
  background: var(--main-background);
  transition: .5s ease;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}