.title{
    font-size: 3rem;
    text-align: center;
    word-wrap: break-word;
    font-family: 'Inter-Bold';
    color: var(--title-text);
    margin: 0;
}
.sub_title{
    font-size: 1.5rem;
    margin: 1rem 0;
    color: var(--sub-title-text);
    text-align: center;
}

.social_media{
    margin: 1rem 0;
    display: flex;
}
.social_media a{
    margin: 0 .5rem;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
}
.social_media a:hover{
    transition: .2s ease;
    box-shadow: var(--badge-text) 0px 7px 29px 0px;
    box-shadow: var(--badge-text) 0px 0px 59px 0px;
    border-radius: 10px;
}


.avatar_container{
    background: var(--button-background);
    border: none;
    overflow: hidden;
    margin-bottom: 1rem;
    border-radius: 50%;
    position: relative;
    height: 12rem;
    width: 12rem;

}
@media screen and (max-width: 768px){
    .avatar_container{
        width: 10rem;
        height: 10rem;

    }   
}
.avatar{
    position: absolute;
    margin-bottom: 0;
    padding-bottom: 0;
    bottom: 0;
    left: 50%;
    width: auto !important;
    height: auto !important;
    transform: translateX(-50%);
}